.vm-sidebar {
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 102;
  display: block;
  width: 180px;
  height: 100%;
  background-color: #4e5159;
}

.ui-menu {
  width: 100%;
  border-radius: 0;
}
