<p-panel header="Profile">
  <div class="ui-g ui-fluid">
    <div class="ui-g-3 ui-md-3 ui-sm-1"></div>
    <div class="ui-g-6 ui-md-6 ui-sm-10">
      <div class="ui-grid ui-grid-responsive ui-grid-pad">
        <fieldset>
          <legend>Basic</legend>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2">
              <label for="userName" class="label">Name: </label>
            </div>
            <div class="ui-grid-col-10">
              <div class="help-block">{{_settingsService._tokenService.currentUserData?.name}}</div>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2">
              <label for="userEmail" class="label">Email: </label>
            </div>
            <div class="ui-grid-col-10">
              <div class="help-block">{{_settingsService._tokenService.currentUserData?.email}}</div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="ui-g-3 ui-md-3 ui-sm-1"></div>
  </div>
</p-panel>
<div class="panel-divider"></div>
<p-panel header="Password">
  <div class="ui-g ui-fluid">
    <div class="ui-g-3 ui-md-3 ui-sm-1"></div>
    <div class="ui-g-6 ui-md-6 ui-sm-10">
      <p-growl [value]="msgs"></p-growl>
      <p-messages [value]="errorMsg"></p-messages>
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="ui-grid ui-grid-responsive ui-grid-pad">
        <fieldset>
          <legend>Password</legend>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2">
              <label for="currentPassword" class="label">Current Password: </label>
            </div>
            <div class="ui-grid-col-10" [ngClass]="{'has-error': (formErrors.currentPassword)}">
              <input type="password" id="currentPassword" placeholder="Current Password" [formControl]="currentPassword" pInputText>
              <div class="help-block error-block">{{formErrors.currentPassword}}</div>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2">
              <label for="newPassword" class="label">New Password: </label>
            </div>
            <div class="ui-grid-col-10" [ngClass]="{'has-error': (formErrors.newPassword)}">
              <input type="password" id="newPassword" placeholder="New Password" [formControl]="newPassword" validateEqual="confirmPassword" pInputText>
              <div class="help-block error-block">{{formErrors.newPassword}}</div>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2">
              <label for="confirmPassword" class="label">Confirm Password: </label>
            </div>
            <div class="ui-grid-col-10" [ngClass]="{'has-error': (formErrors.confirmPassword)}">
              <input type="password" id="confirmPassword" placeholder="New Password" [formControl]="confirmPassword" validateEqual="newPassword" pInputText>
              <div class="help-block error-block">{{formErrors.confirmPassword}}</div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <button [disabled]="!form.valid" pButton type="submit" icon="fa-save" label="Update Password" class="ui-button-danger"></button>
        </fieldset>
      </form>
    </div>
    <div class="ui-g-3 ui-md-3 ui-sm-1"></div>
  </div>
</p-panel>
