<div class="auth-main">
  <div class="auth-block ui-fluid">
    <p-messages [value]="msgs"></p-messages>
    <h1>Sign in to XTHSIA</h1>
    <a routerLink="/site/register" class="auth-link">New to xthsia-admin? Sign up!</a>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="ui-grid ui-grid-responsive ui-grid-pad">
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          <label for="userEmail" class="label">Email: </label>
        </div>
        <div class="ui-grid-col-10" [ngClass]="{'has-error': (formErrors.email)}">
          <input type="text" id="userEmail" placeholder="Email" [formControl]="email" pInputText>
          <div class="help-block error-block">{{formErrors.email}}</div>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          <label for="userPassword" class="label">Password: </label>
        </div>
        <div class="ui-grid-col-10" [ngClass]="{'has-error': (formErrors.password)}">
          <input type="password" id="userPassword" placeholder="Password" [formControl]="password" pInputText>
          <div class="help-block error-block">{{formErrors.password}}</div>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2"></div>
        <div class="ui-grid-col-10">
          <button [disabled]="!form.valid" pButton type="submit" icon="fa-sign-in" label="Sign in" class="ui-button-success"></button>
          <a routerLink="/site/login" class="forgot-pass">Forgot password?</a>
        </div>
      </div>
    </form>
  </div>
</div>
