<table class="table table-bordered table-sm table-striped">
  <thead>
    <th>ID</th>
    <th>Title</th>
    <th>Author</th>
    <th>Date</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <tr *ngFor="let post of getPosts(); index as idx">
      <th>{{ idx }}</th>
      <td>{{ post.title }}</td>
      <td>{{ post.author.name }}</td>
      <td>{{ post.updatedAt | date: 'yyyy/MM/dd hh:mm' }}</td>
      <td>
        <a
          routerLink="/posts/{{ post._id }}"
          class="btn btn-sm btn-outline-success m-1"
          >View</a
        >
        <button class="btn btn-sm btn-outline-primary m-1">Edit</button>
        <button class="btn btn-sm btn-outline-danger m-1">Del</button>
      </td>
    </tr>
  </tbody>
</table>
