@import '../../sass/conf/conf';
.vm-header {
  position: fixed;
  right: 0;
  z-index: 101;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  // padding: .7em 1.5em 0 1.5em;
  color: #fff;
  background-color: $primary;
}

.logo {
  // margin-top: 10px;
  a {
    display: block;
    padding: 5px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    font-size: 1.5rem;
  }
}

.top-menu {
  list-style: none;
  margin: 0;
  & > li {
    position: relative;
    display: inline-block;
    margin-left: .5rem;
    & > a {
      position: relative;
      display: block;
      padding: .5rem .75rem;
      color: #fff;
      .fa {
        font-size: 1.5rem;
      }
      .top-badge {
        position: absolute;
        top: 3px;
        right: 0;
        display: block;
        padding: 2px 4px;
        font-size: 12px;
        line-height: 12px;
        border-radius: 3px;
        &.red {
          background-color: $danger;
        }
        &.yellow {
          background-color: $warning;
        }
        &.green {
          background-color: $success;
        }
      }
      .profile-info {
        display: inline-block;
        text-align: left;
        font-size: .75rem;
        vertical-align: sub;
        span {
          display: block;
          &.profile-role {
            font-size: .75rem;
            color: #c0c0c0;
          }
        }
      }
    }
    .sub-menu {
      position: absolute;
      top: $top-height;
      right: 0;
      display: none;
      min-width: 210px;
      padding: .25rem 0;
      list-style: none;
      background-color: #f7f7f7;
      text-align: left;
      a {
        display: block;
        width: 100%;
        color: #757575;
        padding: .625rem 1rem;
        &.unread {
          color: #000;
        }
        &.logout-btn {
          color: $danger;
        }
        &:hover {
          background-color: #e3e3e3;
        }
        i.fa {
          width: 1rem;
          margin-right: 8px;
        }
      }
    }
    &:focus,
    &.open {
      .sub-menu {
        display: block;
      }
    }
  }
}
