<div class="vm-header">
  <div class="ui-g ui-g-nopad">
    <div class="ui-g-3 ui-sm-3">
      <div class="logo">
        <a [routerLink]="['/admin/dashboard']" >
          XTHSIA
        </a>
      </div>
    </div>
    <div class="ui-g-9 ui-sm-9 ui-g-nopad" style="text-align: right;">
      <ul class="top-menu" #headerMenu>
        <!--<li class="menu-item">
          <a href="javascript:void(0);">
            <i class="fa fa-bell"></i>
            <span *ngIf="noticeCenter.length > 0" class="top-badge yellow">{{noticeCenter.length}}</span>
          </a>
          <ul *ngIf="noticeCenter.length > 0" class="sub-menu fadeInDown">
            <li *ngFor="let noticeItem of noticeCenter">
              <a href="#">
                <i class="fa {{noticeItem.icon}}"></i>
                <span>{{noticeItem.msg}}</span>
              </a>
            </li>
          </ul>
        </li>-->
        <li class="menu-item">
          <a href="javascript:void(0);">
            <i class="fa fa-envelope"></i>
            <span *ngIf="msgCenter.length > 0" class="top-badge green">{{msgCenter.length}}</span>
          </a>
          <ul *ngIf="msgCenter.length > 0" class="sub-menu fadeInDown">
            <li *ngFor="let msgItem of msgCenter" role="menuitem">
              <a  [routerLink]="['/admin/msg-center', msgItem.id]" class="{{!msgItem.status ? 'unread' : '' }}">
                <i class="fa {{msgItem.status ? 'fa-dot-circle-o' : 'fa-circle-o'}}"></i>
                <span>{{msgItem.msg}}</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="menu-item">
          <a href="javascript:void(0);">
            <i class="fa fa-user-circle-o"></i>
            <div class="profile-info">
              <span class="profile-name">{{_tokenService.currentUserData?.email || 'user@v.com' | uppercase }}</span>
              <span class="profile-role">System Admin</span>
            </div>
          </a>
          <ul class="sub-menu fadeInDown">
            <li role="menuitem">
              <a [routerLink]="['/admin/settings']" title="Settings">
                <i class="fa fa-cogs"></i>
                <span>Settings</span>
              </a>
            </li>
            <!--<li role="menuitem">
              <a [routerLink]="['/admin/settings']" title="Password">
                <i class="fa fa-key"></i>
                <span>Password</span>
              </a>
            </li>-->
            <li role="menuitem">
              <a href="javascript:void(0);" (click)="validateToken()" title="Validate Token">
                <i class="fa fa-send-o"></i>
                <span>Validate Token</span>
              </a>
            </li>
            <li role="menuitem">
              <a href="javascript:void(0);" (click)="logout()" class="logout-btn" title="Sign Out">
                <i class="fa fa-power-off"></i>
                <span>Sign Out</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
