<div class="vm-header">
  <div class="ui-g ui-g-nopad">
    <div class="ui-g-3">
      <p>ValueMaker Admin</p>
    </div>
    <div class="ui-g-9 ui-g-nopad" style="text-align: right;">
      <ul class="top-menu">
        <li>
          <i class="fa fa-bell"></i>
        </li>
        <li>
          <i class="fa fa-envelope"></i>
        </li>
        <li>
          <a href="javascript:void(0);">
            <i class="fa fa-cog"></i>
          </a>          
        </li>
        <li>
          <a href="javascript:void(0);">
            <i class="fa fa-user"></i> 
            Thsi@v.com
            {{_tokenService.currentUserData?.email}}
          </a>
          <ul class="sub-menu fadeInDown">
            <li role="menuitem">
              <a href="javascript:void(0);">
                <i class="fa fa-user"></i>
                <span>Profile</span>
              </a>
            </li>
            <li role="menuitem">
              <a href="javascript:void(0);">
                <i class="fa fa-key"></i>
                <span>Password</span>
              </a>
            </li>
            <li role="menuitem">
              <a href="javascript:void(0);" (click)="validateToken()">
                <i class="fa fa-send-o"></i>
                <span>Validate Token</span>
              </a>
            </li>
            <li role="menuitem">
              <a href="javascript:void(0);" (click)="logout()">
                <i class="fa fa-power-off"></i>
                <span>Sign Out</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
