<div class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a routerLink="/" class="navbar-brand">BLOG ADMIN</a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/admin/main/posts"
          routerLinkActive="active"
        >
          Posts
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/admin/main/categories"
          routerLinkActive="active"
        >
          Categories
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">
          Logout
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
