<div class="ui-g">
  <div class="ui-g-12 ui-md-4">
    <div class="dash-stat red">
      <h3 class="dash-title">Users</h3>
      <p>Number of visitors</p>
      <p class="dash-count">12</p>
    </div>
  </div>
  <div class="ui-g-12 ui-md-4">
    <div class="dash-stat green">
      <h3 class="dash-title">Sales</h3>
      <p>Number of purchases</p>
      <p class="dash-count">534</p>
    </div>
  </div>
  <div class="ui-g-12 ui-md-4">
    <div class="dash-stat yellow">
      <h3 class="dash-title">Revenue</h3>
      <p>Income for today</p>
      <p class="dash-count"><i class="fa fa-dollar"></i>3,200</p>
    </div>
  </div>
</div>

<div class="ui-g">
  <div class="ui-g-12">
    <p-panel header="Bar Graph">
      <p-chart #lineChart type="bar" height="125" [options]="barOptions" [data]="barData"></p-chart>
    </p-panel>
  </div>
</div>

<div class="ui-g">
  <div class="ui-g-6">
    <p-panel header="Line Graph">
      <p-chart type="line" height="200" [options]="lineOptions" [data]="lineData"></p-chart>
    </p-panel>
  </div>
  <div class="ui-g-6">
    <p-panel header="Doughnut Graph">
      <p-chart type="doughnut" height="200" [options]="doughnutOptions" [data]="doughnutData"></p-chart>
    </p-panel>
  </div>
</div>
