@import '../../vm/sass/conf/conf';
.dash-stat {
  position: relative;
  padding: 1em;
  color: #fff;
  border: 1px solid #d5d5d5;
  .dash-title {
    font-size: 1.5em;
    small {
      font-size: 50%;
    }
  }
  .dash-count {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
  }
  &.red {
    background-color: $danger;
  }
  &.blue {
    background-color: $primary;
  }
  &.yellow {
    background-color: $warning;
  }
  &.green {
    background-color: $success;
  }
}
