<div class="ui-g">
  <div class="ui-g-12">
    <p-panel header="Bar Graph">
      <p-chart type="bar" height="100" [data]="barData"></p-chart>
    </p-panel>
  </div>
</div>

<div class="ui-g">
  <div class="ui-g-6">
    <p-panel header="Line Graph">
      <p-chart type="line" height="200" [data]="lineData"></p-chart>
    </p-panel>
  </div>
  <div class="ui-g-6">
    <p-panel header="Doughnut Graph">
      <p-chart type="doughnut" height="200" [data]="doughnutData"></p-chart>
    </p-panel>
  </div>
</div>
