<div class="ui-g">
  <div class="ui-g-12 add-user-wrapper">
    <a [routerLink]="['../list']" pButton icon="fa-reply" label="Back" class="ui-button-secondary"></a>
  </div>
</div>
<p-panel header="New User">
  <div class="ui-g ui-fluid">
    <div class="ui-g-3 ui-md-3 ui-sm-1"></div>
    <div class="ui-g-6 ui-md-6 ui-sm-10">
      <p-growl [value]="msgs"></p-growl>
      <p-messages [value]="errorMsg"></p-messages>
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="ui-grid ui-grid-responsive ui-grid-pad">
        <fieldset>
          <legend>Basic</legend>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2">
              <label for="userName" class="label">Name: </label>
            </div>
            <div class="ui-grid-col-10" [ngClass]="{'has-error': (formErrors.name)}">
              <input type="text" id="userName" placeholder="Name" [formControl]="name" pInputText>
              <div class="help-block error-block">{{formErrors.name}}</div>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2">
              <label for="userEmail" class="label">Email: </label>
            </div>
            <div class="ui-grid-col-10" [ngClass]="{'has-error': (formErrors.email)}">
              <input type="text" id="userEmail" placeholder="Email" [formControl]="email" pInputText>
              <div class="help-block error-block">{{formErrors.email}}</div>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2">
              <label for="userLevel" class="label">Level: </label>
            </div>
            <div class="ui-grid-col-10">
              <p-dropdown [options]="levels" autoWidth="false" placeholder="User Level" [formControl]="level"></p-dropdown>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2">
              <label for="" class="label">Profile: </label>
            </div>
            <div class="ui-grid-col-10">
              <textarea rows="5" placeholder="Profile" [formControl]="profile" pInputTextarea></textarea>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Extra</legend>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2">
              <label for="" class="">Role: </label>
            </div>
            <div class="ui-grid-col-10">
              <p-radioButton name="role" label="Administrator" value="administrator" [formControl]="role"></p-radioButton>
              <p-radioButton name="role" label="Editor" value="editor" [formControl]="role"></p-radioButton>
              <p-radioButton name="role" label="Guest" value="guest" [formControl]="role"></p-radioButton>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2">
              <label for="">Resources: </label>
            </div>
            <div class="ui-grid-col-10">
              <p-checkbox name="resources" label="Res1" value="res1" [formControl]="resource"></p-checkbox>
              <p-checkbox name="resources" label="Res2" value="res2" [formControl]="resource"></p-checkbox>
              <p-checkbox name="resources" label="Res3" value="res3" [formControl]="resource"></p-checkbox>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2">
              <label for="" class="label">Permissions: </label>
            </div>
            <div class="ui-grid-col-10" [ngClass]="{'has-error': (formErrors.permission)}">
              <p-multiSelect [options]="permissions" [formControl]="permission"></p-multiSelect>
              <div class="help-block error-block">{{formErrors.permission}}</div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <button [disabled]="!form.valid" pButton type="submit" icon="fa-save" label="Save" class="ui-button-success"></button>
        </fieldset>
      </form>
    </div>
    <div class="ui-g-3 ui-md-3 ui-sm-1"></div>
  </div>
</p-panel>
