<div class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a routerLink="/" class="navbar-brand">MY POSTS</a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/s/posts" routerLinkActive="active">
          Post
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/s/categories"
          routerLinkActive="active"
        >
          Categories
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/admin/main/posts"
          routerLinkActive="active"
        >
          Admin
        </a>
      </li>
      <li *ngIf="!auth.authenticated" class="nav-item">
        <a class="nav-link" routerLink="/admin/auth" routerLinkActive="active">
          login
        </a>
      </li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>
