<div class="ui-g">
  <div class="ui-g-12 add-user-wrapper">
    <a [routerLink]="['../new']" pButton icon="fa-user-plus" label="New User" class="ui-button-success"></a>
  </div>
</div>
<p-messages [value]="msgs"></p-messages>
<p-growl [value]="popMsgs"></p-growl>
<p-confirmDialog width="425"></p-confirmDialog>
<p-panel #pnl [style]="{'position': 'relative'}">
  <p-header>
    <div class="ui-helper-clearfix">
      <p-toolbar [style]="{'border':'none'}">
        <div class="ui-toolbar-group-left">
          <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">User List</span>
        </div>
        <div class="ui-toolbar-group-right">
          <button pButton class="ui-button-primary" type="button" icon="fa-refresh" (click)="refresh()"></button>
        </div>
      </p-toolbar>
    </div>
  </p-header>
  <p-dataTable
    [value]="dataSource"
    [rows]="15"
    [paginator]="true"
    [rowsPerPageOptions]="[15,30,50,100]"
    [responsive]="true"
    [stacked]="stacked"
    resizableColumns="true"
    sortMode="multiple"
    reorderableColumns="true"
    [globalFilter]="gb">
    <p-header>
      <div class="ui-g">
        <div class="ui-g-6 ui-g-nopad">
          <div style="text-align:left">
            <p-multiSelect [options]="columnOptions" [(ngModel)]="cols"></p-multiSelect>
          </div>
        </div>
        <div class="ui-g-6 ui-g-nopad">
          <div style="text-align: right;">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input #gb type="text" pInputText size="50" placeholder="Global Filter">
          </div>
        </div>
      </div>
    </p-header>
    <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header" [sortable]="true"></p-column>
    <p-column styleClass="col-button" header="Actions">
      <template let-item="rowData" pTemplate="body">
        <p-inputSwitch onLabel="On" offLabel="OFF" [(ngModel)]="item.status" styleClass="switch-wrap"></p-inputSwitch>
        <a [routerLink]="['../', item.id]" pButton icon="fa-edit"></a>
        <button type="button" class="ui-button-danger" pButton (click)="deleteItem(item)" icon="fa-trash"></button>
      </template>
    </p-column>
  </p-dataTable>
  <p-blockUI [target]="pnl" [blocked]="blockedPanel"></p-blockUI>
</p-panel>
